@import 'tailwindcss';

@import '@fontsource-variable/inter';
@import '@fontsource-variable/geist';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme static {
    --font-sans: 'Inter Variable', ui-sans-serif, system-ui, sans-serif;
    --font-display: 'Geist Variable', sans-serif;

    --color-base-100: #2a303c;
    --color-base-200: #242933;
    --color-base-300: #20252e;
    --color-base-content: #b2ccd6;
    --color-primary: #9fe88d;
    --color-primary-content: #091307;
    --color-secondary: #ff7d5d;
    --color-secondary-content: #160503;
    --color-accent: #c792e9;
    --color-accent-content: #0e0813;
    --color-neutral: #1c212b;
    --color-neutral-content: #b2ccd6;
    --color-info: #28ebff;
    --color-info-content: #011316;
    --color-success: #62efbd;
    --color-success-content: #03140d;
    --color-warning: #efd057;
    --color-warning-content: #141003;
    --color-error: #ffae9b;
    --color-error-content: #160b09;
    --border-foreground: #E5E7EB;
    --macos-close: #F43F5E;
    --macos-minimize: #FBBF24;
    --macos-zoom: #34D399;

    --color-background: var(--color-base-100);
    --color-background-secondary: var(--color-base-200);
    --color-background-surface: var(--color-base-300);

    --color-border: color-mix(in oklch, var(--color-base-content) 28%, var(--color-base-300));
    --color-border-foreground: var(--color-border-foreground);

    --color-foreground: var(--color-base-content);
    --color-muted-foreground: color-mix(in oklch, var(--color-base-content) 65%, var(--color-base-100));
    --color-danger: var(--color-error);
    --color-danger-surface: color-mix(in oklch, var(--color-error) 25%, var(--color-base-100));
    --color-demo: var(--color-accent-content);
    --color-profile: var(--color-accent);
    --color-profile-content: var(--color-accent-content);
    --color-snippet: var(--color-neutral);

    --color-macos-close: var(--macos-close);
    --color-macos-minimize: var(--macos-minimize);
    --color-macos-zoom: var(--macos-zoom);
}

pre code.hljs {
    background: var(--color-snippet);
}

textarea {
    resize: none;
}
